<h4> Order Status: <%= @order.status %> </h4>
<%= render partial: "form", locals: { submit_text: "Complete Order"} %>
<p> *real talk though, don't put in actual credit card info <p>

<!--TODO so does this have to be in an update view now?  -->
