<section class="title">
  <h1> Browse By Merchants </h1>
</section>


<section>
<% @merchants.each do |merchant|%>
<aside class="merchant-box">
  <p class ="title"> <%="#{merchant.name}"%> </p>
<%= link_to "#{merchant.username}",all_product_path(:id => merchant.id), class:"merchant_name" %>


</aside>
<%end%>
</section>
