<nav class="title">
 <h1> Order Fulfillment </h1>
 <h2> Orders completed: <%=@orders.length%></h2>
</nav>

<table>
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "#{order.id}", order_summary_path(order.id), class: "button" %> </td>
        <td><%= order.status %></td>
        <td><%= order.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
