/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 /*@import {'util/util';}
*/
/*.woody{width: 30%;position: absolute;display:inline-block;z-index: -1;}
.menu{height: 50px;position:absolute;z-index:1;left:200px;}
.menu a{font-size: 20px;color:#863123;text-decoration:none; z-index:1;position:relative; top:50px;right:-100px;}
.cart {height:110%;right:20px;position:relative;bottom:-50px;right:-190px;}
.head{width:100%;height:180px;border-bottom:solid;border-color: gold;}*/

.woody{
  background-image: url('https://raw.githubusercontent.com/sahanamurthy/betsy/header_2/public/woody_logo.jpg');
  height: 250px;
  width:450px;
  background-size:cover;
  margin-bottom: 20px;
  z-index: -2;

}
.button{background-color: #e7a925;color:brown;font-weight: bold;}
.menu{height: 50px;position: relative;right:-100px; top:35px;}
.menu a{font-size: 20px;color:#863123;text-decoration:none;z-index:1;}
.cart {height:110%;right:20px;}
.head{width:100%;height:250px;border-bottom:solid;border-color: gold;}
