
<nav class="title">
  <h1> Browse By Category </h1>
</nav>
<%category = ['art.jpg','art_supplies.jpg','electronics.jpg','electronic_cat.png', 'furnishing.jpg', 'saturn.png']%>

<% @categories.each do |category|%>
<aside class="category-box">
  <p class ="title"> <%="#{category.name}"%> </p>
<%= link_to image_tag(category.img_url),products_path(:category_id => category.id) %>
</aside>
<%end%>
<%if @current_merchant%>
<%=link_to "Add a new category" ,new_category_path,:class=> "button"%>
<%end%>
